numpy<1.27
cython
git+https://github.com/pyRiemann/pyRiemann#egg=pyriemann
qiskit_machine_learning==0.6.1
qiskit-ibm-provider==0.7.0
qiskit-optimization==0.5.0
qiskit-aer==0.13.0
cvxpy==1.4.1
docplex>=2.21.207
firebase_admin==6.2.0
