numpy<1.27
cython
scikit-learn==1.3.2
git+https://github.com/pyRiemann/pyRiemann#egg=pyriemann
qiskit==0.46.1
qiskit_machine_learning==0.7.2
qiskit-ibm-provider==0.7.3
qiskit-optimization==0.6.1
qiskit-aer==0.12.2
cvxpy==1.4.2
scipy==1.11.4
docplex>=2.21.207
firebase_admin==6.4.0
tqdm
pandas
