numpy<1.27
cython
scikit-learn==1.5.1
git+https://github.com/pyRiemann/pyRiemann#egg=pyriemann
qiskit==1.*
qiskit_algorithms==0.3.0
qiskit_machine_learning==0.7.2
qiskit-ibm-provider==0.11.0
qiskit-optimization==0.6.1
qiskit-aer==0.15.0
cvxpy==1.5.2
scipy==1.13.1
docplex>=2.21.207
firebase_admin==6.5.0
tqdm
pandas
