numpy<2.3
sphinx-gallery
furo
sphinx-copybutton
sphinx-design
numpydoc
cython
filelock
mne==1.11.0
mne-bids==0.18.0
mne[data]>=0.24
seaborn>=0.12.1
scikit-learn==1.8.0
imbalanced-learn==0.14.1
joblib
pandas
cvxpy==1.6.5
qiskit==2.4.1
qiskit_algorithms==0.4.0
qiskit_machine_learning==0.9.0
qiskit_ibm_runtime==0.46.1
qiskit-optimization==0.7.0
qiskit-aer==0.17.2
scipy==1.17.1
moabb==1.5.0
pyriemann==0.10
docplex==2.31.254
hashable_list
qiskit-symb==0.6.0
symengine==0.14.1
