sphinx-gallery
sphinx-bootstrap_theme
numpydoc
cython
mne[data]>=0.24
seaborn
scikit-learn
joblib
pandas
cvxpy==1.3.1
git+https://github.com/Qiskit/qiskit-machine-learning#egg=qiskit_machine_learning
qiskit-ibmq-provider==0.20.2
qiskit-optimization==0.5.0
qiskit-aer==0.12.0
qiskit-aer-gpu==0.11.2
scipy==1.7.3
moabb>=0.4.6
git+https://github.com/pyRiemann/pyRiemann#egg=pyriemann
docplex>=2.21.207
firebase_admin==6.1.0
