numpy<1.27
sphinx-gallery
sphinx-bootstrap_theme
numpydoc
cython
mne==1.8.0
mne-bids==0.14
mne[data]>=0.24
seaborn>=0.12.1
scikit-learn==1.5.1
imbalanced-learn==0.12.3
joblib
pandas
cvxpy==1.5.2
qiskit==1.*
qiskit_algorithms==0.3.0
qiskit_machine_learning==0.7.2
qiskit_ibm_runtime==0.28.0
qiskit-optimization==0.6.1
qiskit-aer==0.15.0
scipy==1.13.1
moabb==1.1.0
pyriemann==0.6
docplex>=2.21.207
firebase_admin==6.5.0
qiskit-symb
