name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 0 1 * *"

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      tag: $(git rev-parse --short "$GITHUB_SHA")
      GITHUB_TOKEN: ${{ github.token }}
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        export actor=$(echo ${{ github.actor }} | tr -d '[]')
        docker build . --file Dockerfile --tag ghcr.io/${actor}/pyriemann-qiskit:$tag
