name: Deploy GitHub pages

on:
  push:
    paths:
    - 'doc/**'
    - 'examples/**'
    - '.github/workflows/deploy_ghpages.yml'
  pull_request:
    paths:
    - 'doc/**'
    - 'examples/**'
    - '.github/workflows/deploy_ghpages.yml'

jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('deploy_ghpages.yml') }}
      - name: Generate HTML docs
        env:
          FIREBASE_CERTIFICATE: ${{ secrets.FIREBASE_CERTIFICATE }}
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "doc/"
          pre-build-command: |
            apt-get --allow-releaseinfo-change update
            python -m pip install --upgrade pip
            apt-get -y install --fix-missing git-core
            apt-get -y install build-essential
            pip install -r doc/requirements.txt
      - name:  Upload generated HTML as artifact
        uses: actions/upload-artifact@v3
        with:
          name: DocHTML
          path: doc/build/html/

  # deploy_docs:
  #   if: github.ref == 'refs/heads/master'
  #   needs:
  #     build_docs
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Download artifacts
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: DocHTML
  #         path: doc/build/html/
  #     - name: Commit to documentation branch
  #       run: |
  #         git clone --no-checkout --depth 1 https://github.com/${{ github.repository_owner }}/qndiag.git --branch gh-pages --single-branch gh-pages
  #         cp -r doc/build/html/* gh-pages/
  #         cd gh-pages
  #         touch .nojekyll
  #         git config --local user.email "pyriemann@github.com"
  #         git config --local user.name "pyriemann GitHub Action"
  #         git add .
  #         git commit -m "Update documentation" -a || true
  #     - name: Push changes
  #       uses: ad-m/github-push-action@v0.6.0
  #       with:
  #         branch: gh-pages
  #         directory: gh-pages
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
