name: Deploy GitHub pages

on:
  push:
    paths:
    - 'doc/**'
    - 'examples/**'
    - '.github/workflows/deploy_ghpages.yml'
  pull_request:
    paths:
    - 'doc/**'
    - 'examples/**'
    - '.github/workflows/deploy_ghpages.yml'

jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: deploy_ghpages.yml
      - name: Generate HTML docs
        env:
          FIREBASE_CERTIFICATE: ${{ secrets.FIREBASE_CERTIFICATE }}
        uses: gcattan/sphinx-action@master
        with:
          docs-folder: "doc/"
          pre-build-command: |
            apt-get --allow-releaseinfo-change update
            python -m pip install --upgrade pip
            apt-get -y install --fix-missing git-core
            apt-get -y install build-essential
            cp -a ./symb_statevectors/. ./examples/ERP/symb_statevectors
            cp -a ./symb_statevectors/. ./examples/MI/symb_statevectors
            cp -a ./symb_statevectors/. ./examples/other_datasets/symb_statevectors
            cp -a ./symb_statevectors/. ./examples/toys_dataset/symb_statevectors
      - name:  Upload generated HTML as artifact
        uses: actions/upload-artifact@v5
        with:
          name: DocHTML
          path: doc/build/html/
